<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.amay077.android.sendtobrowser" android:versionName="0.51" android:versionCode="2">
	<uses-sdk />
	<application android:icon="@drawable/icon" android:label="SendToBrowser">
	</application>
</manifest>